<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="logbase" value="${project.basedir}/logs/jfinal-bootstrap-table/" />

	<jmxConfigurator/>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="utf-8">
			<encoder>
				<pattern>%highlight(%date) %cyan([%thread]) %green(%-5level) %yellow(%logger{80}) - %blue(%msg%n)</pattern>
			</encoder>
		</encoder>
	</appender>

	<appender name="logfile" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <Prudent>true</Prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				${logbase}%d{yyyy-MM-dd}.html
			</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.html.HTMLLayout">
			<Pattern>
				%date%level%thread%10logger%file%line%msg
			</Pattern>
		</layout>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logfile" />
	</root>

</configuration>