<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>cn.netbuffer.jfinal_bootstrap_table.filter.LoginFilter</filter-class>
		<init-param>
			<param-name>noFilterTags</param-name>
			<param-value>index.html;login;register;captcha;.css;.js;.jpg</param-value>
		</init-param>
		<init-param>
			<param-name>enable</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>injectionAttackFilter</filter-name>
		<filter-class>cn.netbuffer.jfinal_bootstrap_table.filter.InjectionAttackFilter</filter-class>
		<!-- optional parameters. values given are the defaults. they can be set 
			to false or removed to disable. -->
		<init-param>
			<param-name>filter_xss</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>filter_sql_injection</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<!-- adds X-FRAME-OPTIONS -> SAMEORIGIN to all HttpServletResponses. Will 
				not overwrite existing X-FRAME-OPTIONS header -->
			<param-name>click_jacking_header</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>injectionAttackFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>timerFilter</filter-name>
		<filter-class>cn.netbuffer.jfinal_bootstrap_table.filter.TimerFilter</filter-class>
		<init-param>
			<param-name>enable</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>timerFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>trimFilter</filter-name>
		<filter-class>cn.netbuffer.jfinal_bootstrap_table.filter.TrimFilter</filter-class>
		<init-param>
			<param-name>enable</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>trimFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>jfinal</filter-name>
		<filter-class>com.jfinal.core.JFinalFilter</filter-class>
		<init-param>
			<param-name>configClass</param-name>
			<param-value>cn.netbuffer.jfinal_bootstrap_table.config.AppConfig</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>jfinal</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/404.html</location>
	</error-page>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>